:root {
  --main-bg-color: #ffebcd;
  --main-text-color: black;
  --main-bs-class: white;
  --main-input-text: #e9ecef;
}

.input-group-text {
  background-color: var(--main-input-text);
  color: var(--main-text-color);
}

@media only screen and (max-width: 600px) {
  #search-bar .input-group-text {
    display: none;
  }

  #search-bar .input-group {
    width: 100%;
  }

  .side-bar {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  #search-bar .input-group {
    width: 70%;
  }

  .side-bar {
    width: 50%;
  }
}

html {
  overflow-y: scroll;
}

body:not(table) {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1 {
  color: var(--main-text-color);
}

.form-control,
.form-control:focus {
  background-color: var(--main-bs-class);
  color: var(--main-text-color);
}

.navbar {
  border-bottom: 1px solid lightgrey;
}
.side-bar {
  height: 100%;
  position: fixed;
  z-index: 1;
  border-left: 1px solid lightgrey;
  background-color: white;
  transition: 0.5s;
  overflow-x: hidden;
  text-align: left;
  color: var(--main-text-color);
  background-color: var(--main-bs-class);
}

.col-lg-6 {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

.table > :not(:first-child) {
  border-top: none;
}

.cart-notification {
  position: absolute;
  right: 20px;
  top: 20%;
  line-height: 10px;
  padding: 10px;
  color: #fff;
  background-color: #dc3545;
  font-size: 15px;
  border-radius: 20px;
}

.product {
  background-color: var(--main-bs-class);
  border: 1px solid lightgrey;
  padding: 20px;
}

h1,
.row {
  margin: 40px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: white;
}

.card-image {
  width: 300px;
  margin: 20px;
  object-fit: contain;
}

.title-column {
  width: 30%;
  text-align: left;
}

.stars {
  color: orange;
}

a {
  text-decoration: none;
}
