:root {
  --main-bg-color: #ffebcd;
  --main-text-color: black;
  --main-bs-class: white;
  --main-input-text: #e9ecef;
}

.input-group-text {
  background-color: var(--main-input-text);
  color: var(--main-text-color);
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--main-bg-color);
  transition: 0.5s;
  color: var(--main-text-color);
}

h1 {
  color: var(--main-text-color);
}

.form-control,
.form-control:focus {
  background-color: var(--main-bs-class);
  color: var(--main-text-color);
}

.navbar {
  border-bottom: 1px solid lightgrey;
}
.side-bar {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  border-left: 1px solid lightgrey;
  background-color: white;
  transition: 0.5s;
  overflow-x: hidden;
  text-align: left;
  color: var(--main-text-color);
  background-color: var(--main-bs-class);
}

table {
  border: 1px solid white;
}

.table > :not(:first-child) {
  border-top: none;
}

.cart-notification {
  color: red;
}

.product {
  background-color: var(--main-bs-class);
  border: 1px solid lightgrey;
  padding: 20px;
}

h1,
.row {
  margin: 40px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  background-color: white;
}

.card-image {
  width: 300px;
  object-fit: contain;
}

.title-column {
  width: 30%;
  text-align: left;
}

.stars {
  color: orange;
}

a {
  text-decoration: none;
}

.table {
  background-color: var(--main-bs-class);
}
