body {
  background-color: blanchedalmond;
}

nav {
  background-color: white;
}

.col-lg-6 {
  padding:20px;
  background-color: white;
}

.cart-notification {
  
  color: red;

}

h1,.row {
  margin: 40px;
}

th,td {
  text-align: center;
  vertical-align:middle;
}

.img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-image{
  width: 300px;
  object-fit: contain;
}

.title-column{
  width: 30%;
  text-align: left;
}

.stars {
  color:orange
}

a {
  text-decoration: none;
}



.error-loading
{
text-align: center;
}